.bg{
    /*background-image: url("/images/cover_image.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    color: #d7d9ce;
    background-color: #13505b;
}

.cover{
    color: #d7d9ce;
    text-shadow: 2px 2px 2px #040404;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #119da4;
    color: #d7d9ce;
  }